body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	padding: 0px;
	color: $Black;
	.Page {
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		background-color: $BlueDark;

		span {
			svg {
				font-size: 25px;
			}
		}
	}
	.navbar-nav {
		.react-icons {
			vertical-align: middle;
		}
		svg {
			font-size: 25px;
			color: white;
		}
	}

	// Text Align

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.text-cent {
		text-align: center;
	}

	.bot-0 {
		bottom: 0px;
	}

	.top-0 {
		top: 0px;
	}

	// Position

	.pos-fixed {
		position: fixed;
	}

	.pos-relative {
		position: relative;
	}

	// Width

	.width-80 {
		width: 80%;
	}

	.width-90 {
		width: 90%;
	}

	.width-95 {
		width: 95%;
	}

	.width-100 {
		width: 100%;
	}

	// Height

	.fit-cont {
		height: fit-content;
	}

	// Margin

	.margin-left-a {
		margin-left: auto;
	}

	.margin-left-thin {
		margin-left: 20px;
	}

	.margin-right-thin {
		margin-right: 20px;
	}

	.margin-right-a {
		margin-right: auto;
	}

	.margin-top-thin {
		margin-top: 20px;
	}

	.margin-bot-0 {
		margin-bottom: 0px;
	}

	.margin-bot-thin {
		margin-bottom: 20px;
	}

	// Padding

	.pad-right-none {
		padding-right: 0px;
	}

	.pad-left-none {
		padding-left: 0px;
	}

	.pad-left-thin {
		padding-left: 20px;
	}

	.pad-top-thin {
		padding-top: 20px;
	}

	// Flex

	.flex {
		display: flex;
		&.flex-col {
			flex-direction: column;
		}
		&.just-cent {
			justify-content: center;
		}
		&.just-apart {
			justify-content: space-between;
		}

		&.just-even {
			justify-content: space-evenly;
		}

		&.align-cent {
			align-items: center;
		}
		&.align-base {
			align-items: baseline;
		}
	}

	.block {
		display: block;
	}

	// Colours
	.col-white {
		color: white;
	}

	.col-red {
		color: $Red;
	}
	.col-black {
		color: $Black;
	}
	.col-blue-light {
		color: $BlueLight;
	}

	.col-blue-med {
		color: $BlueMed;
	}

	.col-blue-dark {
		color: $BlueDark;
	}

	// Background Colours
	.bg-red {
		background-color: $Red;
	}

	.bg-black {
		background-color: $Black;
	}

	.bg-blue-light {
		background-color: $BlueLight;
	}

	.bg-blue-med {
		background-color: $BlueMed;
	}

	.bg-blue-dark {
		background-color: $BlueDark;
	}

	// Border

	.border-top-none {
		border-top: none;
	}

	.border-bot-none {
		border-bottom: none;
	}
}
