body {
	margin: 0px;
	padding: 0px;
	color: $Black;
	.Page {
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		background-color: $BlueDark;
	}

	// Width

	.width-80 {
		width: 80%;
	}

	.width-90 {
		width: 90%;
	}

	.width-95 {
		width: 95%;
	}

	.width-100 {
		width: 100%;
	}

	// Margin

	.margin-left-a {
		margin-left: auto;
	}

	.margin-right-a {
		margin-right: auto;
	}

	.margin-top-thin {
		margin-top: 20px;
	}

	.margin-bot-thin {
		margin-bottom: 20px;
	}

	// Padding

	.pad-right-none {
		padding-right: 0px;
	}

	.pad-left-none {
		padding-left: 0px;
	}

	// Flex

	.flex {
		display: flex;
		&.flex-col {
			flex-direction: column;
		}
		&.just-cent {
			justify-content: center;
		}
		&.just-apart {
			justify-content: space-between;
		}

		&.align-cent {
			align-items: center;
		}
		&.align-base {
			align-items: baseline;
		}
	}

	// Colours
	.col-white {
		color: white;
	}

	.col-red {
		color: $Red;
	}
	.col-black {
		color: $Black;
	}
	.col-blue-light {
		color: $BlueLight;
	}

	.col-blue-med {
		color: $BlueMed;
	}

	.col-blue-dark {
		color: $BlueDark;
	}

	// Background Colours
	.bg-red {
		background-color: $Red;
	}

	.bg-black {
		background-color: $Black;
	}

	.bg-blue-light {
		background-color: $BlueLight;
	}

	.bg-blue-med {
		background-color: $BlueMed;
	}

	.bg-blue-dark {
		background-color: $BlueDark;
	}
}
